@using PetShop.Utils;

@{
    
    var userInfo = Context.Session.Get<AdminUser>("userInfo");
    if (userInfo == null)
    {
        TempData["Error"] = "Vui lòng đăng nhập!";
        Context.Response.Redirect("account/login");
       
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>@ViewData["Title"] - PetShop Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="AdminLTE 4 | Sidebar Mini">
    <meta name="author" content="ColorlibHQ">
    <meta name="description" content="AdminLTE is a Free Bootstrap 5 Admin Dashboard, 30 example pages using Vanilla JS.">
    <meta name="keywords" content="bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, colorlibhq, colorlibhq dashboard, colorlibhq admin dashboard"><!--end::Primary Meta Tags-->
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fontsource/source-sans-3@5.0.12/index.css" />
    <link rel="stylesheet" href="~/admin/plugins/overlayscrollbars/styles/overlayscrollbars.min.css" />
    <link rel="stylesheet" href="~/admin/plugins/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/admin/plugins/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/admin/css/adminlte.css" />
    <link rel="stylesheet" href="~/admin/css/custom.css" />
    <link rel="stylesheet" href="~/admin/plugins/DataTables/datatables.min.css" />

    <link rel="shortcut icon"
          href="~/img/petshop/petshop_icon_4.png"
          type="image/x-icon" />

    @await RenderSectionAsync("Header", required: false)


</head>
<body class="layout-fixed sidebar-expand-lg sidebar-mini sidebar-collapse bg-body-tertiary"> <!--begin::App Wrapper-->
    <div class="app-wrapper">
        <nav class="app-header navbar navbar-expand bg-body">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item"> <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a> </li>
                   
                </ul>
                <ul class="navbar-nav ms-auto">
                    <!--   <li class="nav-item dropdown">
                        <a class="nav-link" data-bs-toggle="dropdown" href="#"> <i class="bi bi-bell-fill"></i> <span class="navbar-badge badge text-bg-warning">15</span> </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <i class="bi bi-envelope me-2"></i> 4 new messages
                                <span class="float-end text-secondary fs-7">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <i class="bi bi-people-fill me-2"></i> 8 friend requests
                                <span class="float-end text-secondary fs-7">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item">
                                <i class="bi bi-file-earmark-fill me-2"></i> 3 new reports
                                <span class="float-end text-secondary fs-7">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div> <a href="#" class="dropdown-item dropdown-footer">
                                See All Notifications
                            </a>
                        </div>
                    </li> -->

                    <!-- Fullscreen Toggle -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-lte-toggle="fullscreen">
                            <i data-lte-icon="maximize" class="bi bi-arrows-fullscreen"></i>
                            <i data-lte-icon="minimize" class="bi bi-fullscreen-exit" style="display: none;"></i>
                        </a>
                    </li>

                    <!-- User Menu Dropdown -->
                    <li class="nav-item dropdown user-menu">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img src="~/data/users/default_avatar.jpg" class="user-image rounded-circle shadow" alt="User Image">
                            <span class="d-none d-md-inline">Chào @userInfo?.ShowName</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                            <!-- User Image -->
                            <li class="user-header ">
                                <img src="~/data/users/default_avatar.jpg" class="rounded-circle shadow" alt="User Image">
                                <p>
                                    <strong> @userInfo?.ShowName</strong>
                                    <small>Thành viên từ @userInfo?.CreatedDate?.ToString("MMM. yyyy")</small>
                                </p>
                            </li>
                            
                            <!-- Menu Footer -->
                            <li class="user-footer">
                                <a href="#" class="btn btn-main-color btn-flat">Hồ sơ</a>
                                <a href="@Url.Action("Logout", "Account")" class="btn btn-danger btn-flat float-end">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Sidebar -->
        <aside class="app-sidebar shadow" data-bs-theme="light">
            <!-- Sidebar Brand -->
            <div class="sidebar-brand">
                <!-- Brand Link -->
                <a asp-controller="Home" asp-area="Admin" asp-action="Index" class="brand-link">
                    <!--Brand Image -->
                    <img src="~/img/petshop/petshop_logo-remove-background.png" alt="PetShop Admin Logo" class="brand-image ">
                    <!-- Brand Text -->
                    <span class="ms-2 brand-text fs-5 fw-bold">PetShop Admin</span>
                </a>
            </div>
            <div class="sidebar-wrapper">
                <nav class="mt-2">
                    <!-- Sidebar Menu -->
                    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-area="Admin" asp-action="Index" class="nav-link active">
                                <i class="nav-icon bi bi-speedometer"></i>
                                <p class="fs-5">
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-box-seam-fill"></i>
                                <p>
                                    Quản lý sản phẩm
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Product" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Sản phẩm</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Category" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Danh mục</p>
                                    </a>
                                </li>
                                
                                <li class="nav-item">
                                    <a asp-controller="Type" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Loại sản phẩm</p>
                                    </a>
                                </li>
                            
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon  fa-solid fa-file-invoice-dollar"></i>
                                <p>
                                    Quản lý hóa đơn
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Order" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Hóa đơn bán hàng</p>
                                    </a>
                                </li>
                              
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class=" nav-icon fa-duotone fa-solid fa-users"></i>
                                
                                <p>
                                    Quản lý tài khoản
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="AdminUser" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Quản trị viên</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Member" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Khách hàng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa-solid fa-table-layout"></i>
                                <p>
                                    Quản lý giao diện
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-controller="Banner" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Banner</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Feature" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Feature</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Menu" asp-area="Admin" asp-action="Index" class="nav-link  align-items-center">

                                        <i class="fa-solid fa-caret-right"></i>
                                        <p>Menu</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                      
                      
                        <li class="nav-header">DOCUMENTATIONS</li>                   
                        <li class="nav-item">
                            <a href="../docs/browser-support.html" class="nav-link">
                                <i class="nav-icon bi bi-browser-edge"></i>
                                <p>Browser Support</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../docs/how-to-contribute.html" class="nav-link">
                                <i class="nav-icon bi bi-hand-thumbs-up-fill"></i>
                                <p>How To Contribute</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../docs/faq.html" class="nav-link">
                                <i class="nav-icon bi bi-question-circle-fill"></i>
                                <p>FAQ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../docs/license.html" class="nav-link">
                                <i class="nav-icon bi bi-patch-check-fill"></i>
                                <p>License</p>
                            </a>
                        </li>
                      
                    </ul>
                </nav>
            </div> 
        </aside> 

        <!-- App Main -->
        <main class="app-main">

            <!-- Main -->
            @RenderBody()
            <!-- Main -->

        </main>

        <!-- Footer -->
        <footer class="app-footer">
            <!-- To the end -->
            <div class="float-end d-none d-sm-inline">NguyenBaDat - 20-0-00526</div>
            <!-- Copyright -->
            <strong>
                Copyright &copy; 2014-2024&nbsp;
                <a href="https://adminlte.io" class="text-decoration-none">AdminLTE.io</a>.
            </strong>
            All rights reserved.
        </footer>
    </div> 


    <script src="~/admin/plugins/overlayscrollbars/browser/overlayscrollbars.browser.es6.min.js"></script>
    <script src="~/admin/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/js/adminlte.js"></script>
    <script src="~/admin/plugins/jquery/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.13/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/plugins/DataTables/datatables.min.js"></script>
    <script src="~/admin/js/custom.js"></script>
    <!-- Toastr JS -->
    <script src="~/lib/toastr/toastr.min.js"></script>


    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-center", // Vị trí hiển thị (top-right, top-left, bottom-right, bottom-left)
                "preventDuplicates": true,
                "timeOut": "5000", // Thời gian tồn tại (ms)
            };

            // Hiển thị thông báo từ TempData
        @if (TempData["Success"] != null)
        {
            <text>toastr.success('@TempData["Success"]'); </text>
        }
        @if (TempData["Error"] != null)
        {
            <text>toastr.error('@TempData["Error"]'); </text>
        }
            });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
