@model PetShop.Models.Product

@{
    ViewData["Title"] = "Xóa sản phẩm";
}

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h3 class="main-color">PetShop <span class=" text-muted"> - Xóa sản phẩm</span></h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row g-3">
        <div class=" col-xl-10 col-12 mx-auto">
            <div class="card  card-outline mt-4 p-2">
                <div class="card-header">
                    <div class="card-title">Bạn có chắc chắn muốn xóa sản phẩm này không?</div>
                </div>
                <div class="card-content mt-3">
                    <div class="text-center">
                        <img class="card-img-top rounded-2 " style="width: auto; height: 310px;"
                             src="~/data/products/@Html.DisplayFor(model => model.Avatar)"
                             alt="Product Image" />
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <strong class="col-lg-2 mb-1">
                                        @Html.DisplayNameFor(model => model.Intro):
                                    </strong>
                                    <div class="col-lg-10">
                                        @Html.DisplayFor(model => model.Intro)
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <strong class="col-lg-2 mb-1 ">
                                        @Html.DisplayNameFor(model => model.Name):
                                    </strong>
                                    <div class="col-lg-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-3 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.Price):</strong>
                                        @Html.DisplayFor(model => model.Price)đ
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.Discount):</strong>
                                        @Html.DisplayFor(model => model.Discount)
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.Unit):</strong>
                                        @Html.DisplayFor(model => model.Unit)
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.Type):</strong>
                                        @Html.DisplayFor(model => model.Type!.Name)
                                    </div>
                                </div>
                            </li>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-3 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.Category):</strong>
                                        @Html.DisplayFor(model => model.Category!.Name)
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.Brand):</strong>
                                        @Html.DisplayFor(model => model.Brand)
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.Rate):</strong>
                                        @Html.DisplayFor(model => model.Rate)
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.Quantity):</strong>
                                        @Html.DisplayFor(model => model.Quantity)
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.CreatedBy):</strong>
                                        @Html.DisplayFor(model => model.CreatedBy)
                                    </div>
                                    <div class="col-lg-6 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.CreatedDate):</strong>
                                        @Html.DisplayFor(model => model.CreatedDateVN)
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.UpdatedBy):</strong>
                                        @Html.DisplayFor(model => model.UpdatedBy)
                                    </div>
                                    <div class="col-lg-6 mb-1">
                                        <strong class="me-1">@Html.DisplayNameFor(model => model.UpdatedDate):</strong>
                                        @Html.DisplayFor(model => model.UpdatedDateVN)
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="card-footer text-center py-3">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Pro_ID" />
                            <input type="submit" value="Xóa" class="btn btn-danger me-5" />
                            <a asp-action="Index" class="btn btn-secondary ">Hủy</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
